.header {
    background: #ffffff;
    border-bottom: 1px solid #f1f1f1;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    /* 追加 */
        display: flex;
        justify-content: center;
        align-items: center;
}

.header__logo {
    color: #897765;
    font-family: "Gorditas", serif;
    font-weight: bold;
    font-size: 32px;
    text-decoration:none;
}

.header-nav {
    display: flex;
    gap: 20px;
    list-style: none;
}

.header-nav__button {
    background: none;
    border: none;
    cursor: pointer;
}



/* ログアウトボタン */
.header__logout {
    background: #fff;
    color: #000;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
}

/* ホバー */
.header__logout:hover {
    background: #ddd;
}