/* 全体 */
body {
    background: #f1ece6;
}

/* フォームエリア */
.login-form__content {
    margin: 0 auto;
    margin-top: 80px;
    width: 40%;
    background: #fff;
    padding: 50px;
    border-radius: 5px;
}

/* タイトル */
.login-form__heading {
    text-align: center;
    margin-bottom: 40px;
    font-family: "Gorditas", serif;
    color: #8b7969;
}

/* フォーム */
.form__group {
    margin-bottom: 30px;
}

.form__label--item {
    font-weight: bold;
    color: #8b7969;
}

.form__input--text input {
    width: 100%;
    padding: 12px;
    border: 1px solid #e0dfde;
    margin-top: 10px;
}

/* エラー */
.form__error {
    color: #ff0000;
    font-size: 12px;
}

/* ボタン */
.form__button {
    text-align: center;
    margin-top: 30px;
}

.form__button-submit {
    width: 120px;
    height: 40px;
    background: #8b7969;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* registerリンク */
.register__link {
    text-align: center;
    margin-top: 20px;
}

.register__button-submit {
    color: #8b7969;
    text-decoration: underline;
}